/* PHASE 3: Layout */
.content {
  background: white;
  width: 900px;
  margin: auto;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-wrap: wrap;
}

.content-sidebar {
  width: 220px;
  min-height: 200px;
  padding: 10px;
  padding-right: 9px;
  border-right: 1px solid lightgray;
}

.content-main {
  width: 640px;
  min-height: 200px;
  padding: 10px;
}